//- Join us component

mixin join_us()
    section.join-us
        .join-us__bg: img(src='img/join-us.jpg')
        .container
            .join-us__inner
                .join-us__subtitle.regular-small so, let’s do something
                .join-us__title.h2 Join now or write to us
                .join-us__buttons
                    a.join-us__btn(href="#!") Registration
                    a.join-us__btn(href="#!") Get in Touch